.auto-complete-container {
  div {
    width: calc(100% - 20px);
  }
  input {
    &:focus {
      box-shadow: none !important;
    }
  }
}
.swiper-button-prev {
  &::after {
    @apply text-black;
  }
}
.swiper-button-next {
  &::after {
    @apply text-black;
  }
}

.hot-items {
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cbe337;
    &::after {
      @apply text-white;
      font-size: 20px;
    }
  }
  .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cbe337;
    &::after {
      font-size: 20px;
      @apply text-white;
    }
  }
}